footer#footer {
  padding: 6em 0;
  background-color: $primary;

  color: white;

  a {
    color: lighten($secondary, 25%);
  }

  form {
    margin-bottom: 2em;
  }
}

.copyright {
  background-color: darken($primary, 15%);
  color: white;
  text-align: center;
  font-size: 70%;

  a {
    color: lighten($secondary, 25%);
    font-weight: 600;
  }
}

article footer .btn {
  margin-bottom: 1em;
}

// Footer search form
#search-form {

  input {
    float: left;
    width: auto;
    color: white;
  }
  button {
    background: none; border: none;
    padding-top: 0.5em;
  }

}

// Footer contact information
#contact-info {
  address {
    margin-bottom: 0px;
  }

  .social-networks > a {
    border: 2px solid white;
    width: 32px; height: 32px;
  }
}

// Footer contact form
#footer #contact-form {
  textarea.form-control, input.form-control {
    color: white;
  }
}

// Base style for social network buttons as used in header
.social-networks > a {
  width: 14px; height: 14px;
  font-size: 0px !important;
  display: inline-block;
  background-size: auto 70%;
  background-repeat: no-repeat;
  background-position: center;
}
