// Contact page form
#contact-page {

  form {
    label {
      width: 15em;
      border-bottom: 1px dashed $gray-400;
      line-height: 166%;
      vertical-align: top;
    }
    label:only-child {
      width: auto;
      border: none;
    }
    &> p label {
      font-weight: bold;
    }
    ul {
      list-style: none;
      label { width: auto; }
    }
    .helptext {
      margin-bottom: 1em;
      display: block;
      font-size: 90%;
    }
    input[type='text'], textarea {
      border: 1px solid $gray-400;
      padding: 3px;
    }

    // Full width comment on mobile screens
    @include media-breakpoint-up(xs) {
      textarea { width: 100%; }
    }
  }

}

// Search result form
#search-page {
  input[type='text'] {
    font-size: 110%;
  }
  h4 {
    margin-bottom: 0px;
  }
  .container > center {
    margin-bottom: 3em;
  }
}
