.navbar {
  background-color: $primary;

  .nav {
    text-align: right;
    a {
      color: $secondary;
      padding: 10px;
      line-height: 40px;
      vertical-align: middle;
    }
    .contact-nav {
      margin-right: 1em;
      a {
        margin: 0 5px;
        font-size: .7em;
        &.link {
          text-transform: uppercase;
        }
        &:hover {
          text-decoration: none;
        }
      }
      .social-networks {
        top: -1px; position: relative;
        a { margin: 0 10px; }
      }
    }
    .language-nav {
      text-transform: uppercase;
      a {
        margin: 0;
        &.active, &:hover {
          background-color: white;
          color: $primary;
        }

      }
    }
    @include media-breakpoint-up(xs) {
      .contact-nav a {
        font-size: .9em;
        padding: 10px 5px;
      }
    }
  }

}
.navbar-default {

  &.navbar-main {
    top: 40px;
  }
  .navbar-header {
    .navbar-brand {
      text-transform: uppercase;
      font-size: 1em;

      img {
        display: inline;
        width: auto;
        height: 28px;
        margin-top: -5px;
        margin-right: .5em;
      }
    }
  }
}
