@charset 'utf-8';

@import 'theme/variables';

$primary: #5371fb;
$secondary: #fb8f53;
$success: #53fb70;
$info: #53b1fb;
$warning: #ecfb53;
$danger: #fb536d;
$dark: #373193;
$light: #fff;

@import '../static/bootstrap/scss/bootstrap';
@import 'theme/bootswatch';

// Modules
@import "modules/modules";
