{% extends "puput/base.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags puput_tags social_share %}

{% block title %}
    {{ self.title }} | {{ blog_page.title }}
{% endblock title %}

{% block meta_title %}
    {% if self.seo_title %}
        {{ self.seo_title }}
    {% else %}
        {{ self.title }}
    {% endif %}
{% endblock meta_title %}

{% block meta_description %}
    {% if self.search_description %}
        {{ self.search_description }}
    {% else %}
        {{ self.body|striptags|truncatewords:20 }}
    {% endif %}
{% endblock meta_description %}

{% block canonical %}
    {% canonical_url entry=self %}
{% endblock canonical %}

{% block social_share %}
    {% image self.header_image fill-800x450 as share_image %}
    <meta property="og:title" content="{{ self.title }}" />
    <meta property="og:description" content="{% if self.excerpt %}{{ self.excerpt|striptags }}{% else %}{{ self.body|striptags|truncatewords:20 }}{% endif %}" />
    <meta property="og:url" content="{% canonical_url entry=self %}" />
    {% if self.header_image %}
        <meta property="og:image" content="{% image_url share_image.url %}" />
        <meta property="og:image:width" content="800" />
        <meta property="og:image:height" content="450" />
        <meta name="twitter:image" content="{% image_url share_image.url %}" />
    {% endif %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ self.title }}" />
    <meta name="twitter:description" content="{% if self.excerpt %}{{ self.excerpt|striptags }}{% else %}{{ self.body|striptags|truncatewords:20 }}{% endif %}" />
{% endblock social_share %}

{% block blog_content %}

{% if self.header_image %}
<div class="image">
    {% image self.header_image fill-940x400 class="img-responsive" %}
</div>
{% endif %}

<h1 class="title">{{ self.title }}</h1>

    <article class="box page-content"
             {% if self.id %}data-entry-page-update-comments-url="{% url 'entry_page_update_comments' self.id %}{% endif %}">
            {% include 'puput/entry_links.html' with entry=self %}
        <section>
            {{ self.body|richtext}}
            <div class="row">
                <div class="col-md-2">
                    <a href="{% pageurl blog_page %}" class="blog_btn back">
                        <i class="fa fa-angle-left"></i>
                        <i class="fa fa-angle-left"></i>
                        <i class="fa fa-angle-left"></i>
                    </a>
                </div>
                {% entry_url self blog_page as post_url %}
                <ul class="social-share-all text-right col-md-10">
                    <li class="social-item">
                       {% post_to_facebook post_url '<span><i class="fa fa-facebook"></i></span>' %}
                    </li>
                    <li class="social-item">
                        {% post_to_twitter self.title post_url '<span><i class="fa fa-twitter"></i></span>' %}
                    </li>
                    <li class="social-item">
                        {% post_to_linkendin post_url '<span><i class="fa fa-linkedin"></i></span>' %}
                    </li>
                    <li class="social-item">
                        {% post_to_gplus post_url '<span><i class="fa fa-google-plus"></i></span>' %}
                    </li>
                </ul>
            </div>

        </section>
        {% show_comments %}
    </article>
{% endblock blog_content %}

{% block extra_content %}
    {% if self.has_related %}
        {% include 'puput/related_entries.html' with entry=self %}
    {% endif %}
{% endblock extra_content %}
