{% load navigation wagtailcore_tags %}

<ul class="navbar-nav mr-auto">
  {% for menuitem in menuitems %}
    {% if menuitem.show_dropdown %}
    <div class="dropdown">
      <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ menuitem.title }}
      </a>
      <div class="dropdown-menu">
        {% top_menu_children parent=menuitem %}
      </div>
    </div>
    {% else %}
    <li class="nav-item{% if menuitem.active %} active{% endif %}">
      <a class="nav-link" href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
<!-- /.navbar-collapse -->
