{% load compress static wagtailuserbar navigation information %}
{% get_site_root as site_root %}
<!DOCTYPE html>
<html lang="{% language_cur %}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{% if page.trans_title %}{{ page.trans_title }} - {% endif %}{% contact_name site_root=site_root html=False %}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}{% endblock %}">

        {% block extra_css %}{% endblock %}
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'css/main.scss' %}">
        {% endcompress %}

        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body class="{% block body_class %}{% endblock %} site-{{ site_root.slug }}">
        {% wagtailuserbar %}

        {% include 'header.html' %}

        {% block content %}{% endblock %}

        {% include 'footer.html' %}

        {% block extra_js %}
            <script src="{% static 'jquery/dist/jquery.js' %}"></script>
            <script src="{% static 'slick-carousel/slick/slick.min.js' %}"></script>
            <script src="{% static 'slick-lightbox/dist/slick-lightbox.js' %}"></script>
            <script src="{% static 'cookieconsent/build/cookieconsent.min.js' %}"></script>
        {% endblock %}

        {% compress js %}
            <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        {% endcompress %}
    </body>
</html>
