{% load static wagtailcore_tags navigation information %}
{% get_site_root as site_root %}

<!-- Footer -->
<footer id="footer">
<div class="container">
<div class="row">
	<div class="col-md-4">
		<!-- Bottom Menu -->
		{% footer_menu parent=site_root calling_page=self %}

		<!-- Search form -->
		<form action="/search/" method="get" id="search-form">
			<input type="text" name="query" value="" class="form-control">
			<button type="submit" title="Search">
				<span class="glyphicon glyphicon-search" aria-hidden="false"></span>
			</button>
		</form>
	</div>

	<a name="contact-info"></a>
	<div class="col-md-4" id="contact-info">
		{% contact_info site_root=site_root %}
	</div>
	<div class="col-md-4" id="contact-form">
		{% footer_form site_root=site_root %}
	</div>
</div><!-- /row -->
</div><!-- /container -->
</footer>

<div class="copyright">
	{% contact_name site_root=site_root %}
	&copy; 2019
	&bull; <a href="/privacy/">Privacy</a>
	&bull; <a href="/impressum/">Impressum</a>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'cookieconsent/build/cookieconsent.min.css' %}">
