{% load static wagtailcore_tags navigation information %}
{% get_site_root as site_root %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% pageurl site_root %}">
    <img src="{% static 'images/logo.svg' %}" alt="[logo]">
    <span class="hidden-xs">{% contact_name site_root=site_root %}</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    {% block menu %}
      <!-- Top Menu -->
      {% top_menu parent=site_root calling_page=self %}
    {% endblock %}
    </ul>
    <div class="nav">
      <span class="contact-nav">
        <a class="nav-link" href="#contact-info" title="Contact">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <span class="sr-only">Contact</span>
        </a>
        {% contact_links site_root=site_root %}
      </span>
      <span class="language-nav">
        {% language_switcher %}
      </span>
    </div>
  </div>
</nav>

<nav class="navbar-pre navbar-fixed-top">
  <div class="container">
      <div class="nav">
      </div>
  </div>
</nav>
<nav class="navbar navbar-default navbar-main navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    </div>

  </div>
  <!-- /.container -->
</nav>
