{% extends "base.html" %}
{% load static compress wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block extra_css %}
	{% compress css %}
		<link rel="stylesheet" type="text/x-scss" href="{% static 'slick-carousel/slick/slick.scss' %}">
		<link rel="stylesheet" type="text/x-scss" href="{% static 'slick-carousel/slick/slick-theme.scss' %}">
		<link rel="stylesheet" type="text/x-scss" href="{% static 'slick-lightbox/src/styles/slick-lightbox.sass' %}">
	{% endcompress %}
{% endblock %}

{% block content %}
<section class="content-page article-page">
  <div class="container">
    {% include 'home/page_content.html' %}
  </div>
</section>
{% endblock %}
