{% extends "base.html" %}
{% load static compress wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block extra_css %}
	{% compress css %}
		<link rel="stylesheet" type="text/x-scss" href="{% static 'slick-carousel/slick/slick.scss' %}">
		<link rel="stylesheet" type="text/x-scss" href="{% static 'slick-carousel/slick/slick-theme.scss' %}">
	{% endcompress %}
{% endblock %}

{% block content %}

<!-- Banner (articles) -->
{% include 'banner.html' %}

<div class="home_page">

<!-- News -->
{% include 'news.html' %}

<!-- Page body -->
<section>
	<div class="container">
		<div class="homepage-body">
			{{ page.trans_body|richtext }}
		</div>
	</div>
</section>

<!-- Infoblocks -->
{% include 'infos.html' %}

</div>

{% endblock %}
